<h2>SELL-UR-SELF!</h2>

<ul style="list-style: none;">
<% @posts.each do |post| %>
	<li>
		<%= link_to post.title, post.url %> (<%= link_to pluralize(post.comments.count, "Comment"), post_path(post) %>)
	</li>

<% end %>

</ul>

