<h2><%= link_to "SELL-UR-SELF!", root_path %></h2>


<h4> <%= link_to "Submit your profile here", new_post_path %></h4>
<ul style="list-style: none;">
<% @posts.each do |post| %>
	<li>
		<%= link_to post.title, post.url %> 
		(<%= link_to pluralize(post.comments.count, "Comment"), post_path(post) %>)
	</li>

<% end %>

</ul>

