<h2>Show Post</h2>
<p><%= link_to @post.title, @post.url %> </p>
<p> <%= pluralize(@post.comments.count, "Comment") %></p>
<ul>
	
	<% @post.comments.each do |comment| %>
	<li>
		<%= comment.content %>		
	</li>
	<% end %>
</ul>

<%= link_to "Home", root_path() %>
